.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100% !important;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}
.swiper-vertical {
  .swiper-wrapper {
    flex-direction: column;
  }
}
.swiper-autoheight {
  .swiper-wrapper {
    align-items: flex-start;
  }
  .cert__inner {
    align-items: stretch !important;
  }
}
.swiper-initialized {
  .swiper-slide {
    flex-shrink: 0;
    // transition-property: transform;
  }
}
.swiper-android {
  .swiper-slide,
  .swiper-wrapper {
    transform: translate3d(0px, 0, 0);
  }
}
.swiper-button-lock {
  display: none !important;
}
.swiper-pagination {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: relative;
}
.swiper-pagination-bullet {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #d1d1d1;
  cursor: pointer;
}
.swiper-pagination-bullet-active {
  background-color: #d52628;
}

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}
