<ul class="news__posts">
	<li class="news__post post">
		<div class="post__image-ibg"><img data-src="@img/post-image.png" alt="post image"></div>
		<div class="post__body">
			<p class="post__description">
				27 сентября ЛенРО для компании "Арктика" закончила производство установки обратного
				осмоса производительностью 3000литров
				в час. Данная установка будет обеспечивать производственный
				процесс нафталина.
			</p>
			<div class="post__bottom">
				<span class="post__date">14.10.2022</span>
				<a href="#" class="post__link">Читать подробнее</a>
			</div>
		</div>
	</li>
	<li class="news__post post">
		<div class="post__image-ibg"><img data-src="@img/post-image.png" alt="post image"></div>
		<div class="post__body">
			<p class="post__description">
				27 сентября ЛенРО для компании "Арктика" закончила производство установки обратного
				осмоса производительностью 3000литров
				в час. Данная установка будет обеспечивать производственный
				процесс нафталина.
			</p>
			<div class="post__bottom">
				<span class="post__date">14.10.2022</span>
				<a href="#" class="post__link">Читать подробнее</a>
			</div>
		</div>
	</li>
	<li class="news__post post">
		<div class="post__image-ibg"><img data-src="@img/post-image.png" alt="post image"></div>
		<div class="post__body">
			<p class="post__description">
				27 сентября ЛенРО для компании "Арктика" закончила производство установки обратного
				осмоса производительностью 3000литров
				в час. Данная установка будет обеспечивать производственный
				процесс нафталина.
			</p>
			<div class="post__bottom">
				<span class="post__date">14.10.2022</span>
				<a href="#" class="post__link">Читать подробнее</a>
			</div>
		</div>
	</li>
	<li class="news__post post">
		<div class="post__image-ibg"><img data-src="@img/post-image.png" alt="post image"></div>
		<div class="post__body">
			<p class="post__description">
				27 сентября ЛенРО для компании "Арктика" закончила производство установки обратного
				осмоса производительностью 3000литров
				в час. Данная установка будет обеспечивать производственный
				процесс нафталина.
			</p>
			<div class="post__bottom">
				<span class="post__date">14.10.2022</span>
				<a href="#" class="post__link">Читать подробнее</a>
			</div>
		</div>
	</li>
</ul>