//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
  font-size: rem(24);
  line-height: math.div(30, 24);
  background-color: $redColor;
  color: #fff;
  @include adaptiveValue('padding', 25, 15);
  max-width: rem(380);
  width: 100%;
  border-radius: rem(10);
  transition: background-color 0.2s ease 0s;
  text-align: center;
  display: inline-block;
  @media (max-width: $mobileSmall) {
    font-size: rem(22);
    padding: rem(12) rem(10);
  }
  @media (any-hover: hover) {
    &:hover {
      background-color: $redColorAlt;
    }
  }
  &._fw {
    width: 100%;
  }
}
