.category {
  padding: rem(25) 0 rem(100) 0;
  &__title {
    margin-bottom: rem(30) !important;
  }
  &__subtitle {
    text-align: center;
    font-size: rem(24);
    @include adaptiveValue('margin-bottom', 30, 20);
  }
  &__products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @include adaptiveValue('gap', 70, 30);
    padding-top: rem(30);
    @include adaptiveValue('margin-bottom', 60, 30);
    @media (max-width: $tablet) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
    }
  }

  &__table-title {
    @include adaptiveValue('font-size', 30, 22);
    margin-bottom: rem(15);
  }
  &__table-subtitle {
    font-size: rem(22);
    margin-bottom: rem(30);
  }

  .product {
    max-width: rem(400);
    min-height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #898989;
    border-radius: 5px 5px 0px 0px;
    background: #f7f7f7;
    &__body {
      padding: rem(20);
    }
    &__title {
      margin-bottom: rem(15);
      font-size: rem(20);
      font-weight: 500;
      display: block;
      min-height: rem(40);
      @media (any-hover: hover) {
        &:hover {
          color: $redColor;
        }
      }
    }
    &__data {
      margin-top: rem(20);
    }
    &__data-item {
      font-size: rem(16);
      line-height: math.div(19, 16);
      color: rgba(0, 0, 0, 0.6);
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: rem(5);
      &:not(:last-child) {
        margin-bottom: rem(10);
      }
      span:last-child {
        text-align: right;
      }
    }
    &__image-ibg {
      padding-bottom: percent(287, 350);
      overflow: hidden;
      display: block;
      img {
        max-width: 100%;
        transition: transform 0.3s ease 0s;
        @media (any-hover: hover) {
          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }
    &__link {
      display: block;
      margin-top: auto;
      max-width: 100%;
      font-size: rem(22);
      border-radius: 0;
    }
  }
}
