.footer {
	background-color: #f4f4f4;
	padding-top: rem(50);
	padding-bottom: rem(50);
	&__items {
		display: flex;
		justify-content: space-between;
		gap: rem(15);
		margin-bottom: rem(30);
		@media (max-width: $mobile) {
			flex-direction: column;
			gap: rem(30);
		}
	}

	&__item-title {
		margin-bottom: rem(30);
		font-size: rem(24);
		@media (max-width: $mobile) {
			margin-bottom: rem(15);
		}
	}
	&__item-descr {
		font-size: rem(20);
		margin-bottom: rem(15);
		line-height: math.div(30, 20);
	}
	&__item-phone {
		display: block;
		font-size: rem(20);
	}
	&__item-sub {
		display: block;
		margin-top: auto;
	}
}
