.footer {
  background-color: #f4f4f4;
  padding-top: rem(50);
  padding-bottom: rem(50);
  &__items {
    display: flex;
    justify-content: space-between;
    gap: rem(30);
    margin-bottom: rem(30);
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }
  &__item {
    flex: 0 1 33.333%;
  }

  &__item-title {
    margin-bottom: rem(30);
    font-size: rem(24);
    @media (max-width: $mobile) {
      margin-bottom: rem(15);
    }
  }
  &__item-descr {
    font-size: rem(20);
    margin-bottom: rem(15);
    line-height: math.div(30, 20);
  }
  &__item-phone {
    display: block;
    font-size: rem(20);
    @media (any-hover: hover) {
      &:hover {
        color: $redColor;
      }
    }
  }
  &__item-sub {
    display: block;
    margin-top: auto;
  }
}
