//====================================================================================================

//====================================================================================================
.hero {
  padding-top: rem(25);
  &__slider {
    position: relative;
  }
  &__slide {
    @include adaptiveValue('min-height', 600, 200);
    max-height: rem(600);
    border-radius: rem(13);
    background: url('@img/slider-1.png') 0 0 no-repeat;
  }
  &__slider-button {
    position: absolute;
    bottom: rem(20);
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 rem(15);
  }
  &__slide-content {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    @include adaptiveValue('padding-top', 80, 30);
    padding-bottom: rem(30);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: rem(350);
    height: 100%;
    @media (max-width: $mobileSmall) {
      position: relative;
      transform: translate(0);
    }

    @media (max-width: $tablet) {
      left: 0;
      padding: rem(30) rem(15);
      transform: translate(0);
    }
  }
  &__slide-title {
    @include adaptiveValue('font-size', 50, 25);
    line-height: math.div(60, 50);
    font-weight: 600;
    text-align: center;
    color: #fff;
    @include adaptiveValue('margin-bottom', 30, 15);
  }
  &__slide-description {
    color: #fff;
    @include adaptiveValue('font-size', 24, 18);
    line-height: math.div(29, 24);
    text-align: center;
    @include adaptiveValue('margin-bottom', 50, 30);
  }
  &__slide-button {
    margin-top: auto;
    font-size: rem(30);
    background-color: $redColor;
    color: #fff;
    @include adaptiveValue('padding', 25, 15);
    max-width: rem(350);
    width: 100%;
    border-radius: rem(10);
    transition: background-color 0.2s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        background-color: $redColorAlt;
      }
    }
    @media (max-width: $mobileSmall) {
      max-width: rem(200);
      font-size: rem(22);
    }
  }
}

.about {
  &-tabs__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: rem(24);
    background-color: #ffffff;
    box-shadow: 0px 0px 17px rgba(213, 38, 40, 0.16);
    border-radius: rem(11);
    overflow: hidden;
    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &-tabs__title {
    padding: rem(30) rem(15);
    width: 100%;
    @media (max-width: $mobile) {
      padding: rem(15);
      text-align: left;
    }
    @media (any-hover: hover) {
      &:hover {
        color: $redColor;
      }
    }
    &._tab-active {
      background-color: $redColor;
      color: #fff;
      @media (any-hover: hover) {
        &:hover {
          color: #fff;
        }
      }
    }
  }
  &-tabs__body {
    padding-top: rem(30);
  }
  &-tabs__body-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(15);
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }
  &-tabs__text {
    @include adaptiveValue('font-size', 28, 20);
    line-height: math.div(36, 28);
    ol,
    ul {
      font-size: rem(24);
      padding-top: rem(10);
      padding-left: rem(30);
    }
  }
  &-tabs__image {
    flex: 0 0 percent(654, 1320);
    img {
      max-width: 100%;
    }
  }
  &-tabs__partners {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: rem(10);
    @media (max-width: em(1200)) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: $tablet) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: $mobile) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: $mobileSmall) {
      grid-template-columns: 1fr;
    }
  }
  &-tabs__partner {
    border: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 10px;
  }
  &-tabs__partner img {
    margin: 0 auto;
    width: 200px;
    @include adaptiveValue('height', 150, 100);
    object-fit: contain;
  }
}

.projects {
  &__wrapper {
    display: grid;
    align-items: flex-start;
    grid-template-columns: rem(300) 1fr;
    gap: rem(40);
    @media (max-width: $tablet) {
      grid-template-columns: 1fr;
    }
  }
  &__navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: $redColor;
    padding: rem(10) rem(15);
    border-radius: rem(15);
    @media (max-width: $tablet) {
      flex-direction: row;
      width: 100%;
      flex: 100%;
      overflow: auto;
      gap: rem(10);
    }
  }
  &__navigation-title {
    padding: rem(10);
    color: #fff;
    border-radius: rem(13);
    width: 100%;
    text-align: start;
    font-size: rem(20);
    &._tab-active {
      background-color: #fff;
      color: $redColor;
    }
    @media (max-width: $tablet) {
      white-space: nowrap;
    }
  }

  &__content {
    min-width: 0;
  }
  &__slider {
    margin-bottom: rem(15);
  }

  &__slide-image img {
    border-radius: rem(13);
    width: 100%;
    @include adaptiveValue('height', 500, 300);
    object-fit: cover;
    @media (max-width: $tablet) {
      max-width: 100%;
      width: 100%;
    }
  }

  &__description {
    font-size: rem(20);
    line-height: math.div(26, 20);
    margin-bottom: rem(30);
    p {
      padding-top: rem(10);
    }
  }

  .swiper-pagination {
    padding-top: rem(30);
  }

  .projects-button-next,
  .projects-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    svg {
      width: 50px;
      height: 50px;
    }
  }
  .projects-button-next {
    right: 0;
  }
  .projects-button-prev {
    left: 0;
  }
}

.news {
  background-color: #f4f4f4;
}

.solutions {
  &__wrapper {
    display: flex;
    align-items: center;
    gap: rem(30);
    margin-bottom: rem(50);
    @media (max-width: $tablet) {
      flex-direction: column;
      gap: rem(15);
      margin-bottom: rem(30);
    }
  }
  &__data {
    @include adaptiveValue('font-size', 22, 18);
    line-height: math.div(32, 24);
    h4 {
      font-weight: 600;
      margin-bottom: rem(15);
    }
    ul {
      list-style-type: disc;
      padding-left: rem(20);
    }
    ul li {
      margin-bottom: rem(10);
      list-style-type: disc;
    }
    p {
      padding: rem(10) 0;
    }
  }
  &__data-more {
    padding-top: rem(15);
    transition: opacity 200ms, display 200ms;
    display: none;
    opacity: 0;
    &._active {
      display: block;
      opacity: 1;
    }
  }
  &__data-title {
    @include adaptiveValue('font-size', 32, 22);
    line-height: math.div(40, 32);
    font-weight: 500;
    margin-bottom: rem(5);
  }
  &__show-more {
    text-align: center;
    margin-bottom: rem(50);
    @media (max-width: $tablet) {
      margin-bottom: rem(15);
    }
  }
  &__image {
    flex: 0 0 percent(672, 1320);
    border-radius: rem(15);
    overflow: hidden;
    img {
      max-width: 100%;
    }
  }
}

.tech,
.complete {
  background-color: #f4f4f4;
  &-tabs__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: rem(24);
    background-color: #ffffff;
    box-shadow: 0px 0px 17px rgba(213, 38, 40, 0.16);
    border-radius: rem(11);
    overflow: hidden;
    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &-tabs__title {
    padding: rem(30) rem(15);
    width: 100%;
    @media (max-width: $mobile) {
      padding: rem(15);
      text-align: left;
    }
    @media (any-hover: hover) {
      &:hover {
        color: $redColor;
      }
    }
    &._tab-active {
      background-color: $redColor;
      color: #fff;
      @media (any-hover: hover) {
        &:hover {
          color: #fff;
        }
      }
    }
  }
  &-tabs__body {
    padding-top: rem(30);
  }
  &-tabs__body-link {
    display: block;
    margin-top: rem(30);
  }
  &-tabs__body-wrapper {
    display: flex;
    align-items: flex-start;
    gap: rem(30);
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }
  &-tabs__body-icon {
    @media (max-width: $mobile) {
      display: none;
    }
  }
  &-tabs__body-text {
    padding-left: rem(20);
    position: relative;
    @include adaptiveValue('font-size', 22, 18);
    line-height: math.div(40, 28);
    ul,
    ol {
      padding-left: rem(25);
      padding-top: rem(15);
    }
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: rem(10);
      @include adaptiveValue('height', 120, 60);
      width: rem(3);
      background-color: $redColor;
    }
  }
}
.complete {
  background-color: #fff;
}

.services {
  background-color: #f4f4f4;
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
    @include adaptiveValue('gap', 55, 30);
  }
  &__item {
    border-radius: rem(10);
    flex: 0 1 rem(350);
    overflow: hidden;
    transition: transform 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        transform: translateY(-10px);
      }
    }
  }
  &__link {
    display: block;
  }
  &__item-body {
    position: relative;
    overflow: hidden;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: rem(300);
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    }
    img {
      max-width: 100%;
      transition: transform 0.3s ease 0s;
    }
  }
  &__item-image-ibg {
    padding-bottom: percent(424, 400);
    display: block;
  }
  &__item-title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: rem(10);
    font-weight: 500;
    font-size: rem(28);
    color: #fff;
    z-index: 2;
  }
  &__item-link {
    display: block;
    max-width: 100%;
    border-radius: 0 0 rem(10) rem(10);
  }
}

.cert {
  &__wrapper {
    position: relative;
    .swiper-button-next,
    .swiper-button-prev {
      svg {
        width: rem(60);
        height: rem(60);
      }
      @media (any-hover: hover) {
        &:hover {
          color: $redColor;
        }
      }
      @media (max-width: $pc) {
        display: none;
      }
    }
    .swiper-button-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -100px;
      @include adaptiveValue('right', -100, -20, 3, 1620, 992);
    }
    .swiper-button-prev {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -100px;
      @include adaptiveValue('left', -100, -20, 3, 1620, 992);
    }
  }

  &__subtitle {
    font-size: rem(22);
    margin-bottom: rem(20);
    font-weight: 600;
  }
  &__descr {
    margin-bottom: rem(30);
    font-size: rem(20);
    line-height: math.div(28, 20);
  }

  &__slide {
    max-width: rem(350);
    height: 100%;
  }

  &__slide-content {
    position: relative;
    background-color: #f4f4f4;
    padding: rem(10);
    height: 100%;
  }
  &__slide-image {
    margin-bottom: rem(15);
    img {
      max-width: 100%;
    }
  }
  &__slide-title {
    font-size: rem(16);
    transition: color 0.2s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: $redColor;
      }
    }
  }
  &__slide-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(10);
  }
}

.map {
  padding: 0;
  &__block {
    width: 100%;
    @include adaptiveValue('height', 700, 300);
    margin-bottom: rem(30);
  }
}
